<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name>Offstage Web Application</display-name>
  <filter>
    <filter-name>HeaderFilter</filter-name>
    <filter-class>citibob.web.HeaderFilter</filter-class>
  </filter>
  <filter>
    <filter-name>OffstageDbFilter</filter-name>
    <filter-class>offstage.web.OffstageDbFilter</filter-class>
  </filter>
  <filter>
    <filter-name>AddChildFilter</filter-name>
    <filter-class>offstage.web.AddChildFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AddChildFilter</filter-name>
    <url-pattern>/familystatus/InsertChildInfo.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AddChildFilter</filter-name>
    <url-pattern>/GetFamilyStatusServlet</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>OffstageDbFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>HeaderFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>SampleServlet</servlet-name>
    <servlet-class>offstage.web.SampleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertChildServlet</servlet-name>
    <servlet-class>offstage.web.familystatus.InsertChildServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetFamilyStatusServlet</servlet-name>
    <servlet-class>offstage.web.GetFamilyStatusServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateChildInfoServlet</servlet-name>
    <servlet-class>offstage.web.familystatus.UpdateChildInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateAdultInfoServlet</servlet-name>
    <servlet-class>offstage.web.familystatus.UpdateAdultInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetContactInfoServlet</servlet-name>
    <servlet-class>offstage.web.familystatus.GetContactInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateContactInfoServlet</servlet-name>
    <servlet-class>offstage.web.familystatus.UpdateContactInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetAccountInfoServlet</servlet-name>
    <servlet-class>offstage.web.familystatus.GetAccountInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetRegistrationsServlet</servlet-name>
    <servlet-class>offstage.web.registration.GetRegistrationsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertRegistrationServlet</servlet-name>
    <servlet-class>offstage.web.registration.InsertRegistrationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetEnrollmentsServlet</servlet-name>
    <servlet-class>offstage.web.registration.GetEnrollmentsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertEnrollmentSetServlet</servlet-name>
    <servlet-class>offstage.web.registration.InsertEnrollmentSetServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ParaServlet</servlet-name>
    <servlet-class>offstage.web.MyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetPaymentPlansServlet</servlet-name>
    <servlet-class>offstage.web.registration.GetPaymentPlansServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertPaymentPlanServlet</servlet-name>
    <servlet-class>offstage.web.registration.InsertPaymentPlanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SampleServlet</servlet-name>
    <url-pattern>/SampleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertChildServlet</servlet-name>
    <url-pattern>/InsertChildServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetFamilyStatusServlet</servlet-name>
    <url-pattern>/GetFamilyStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateChildInfoServlet</servlet-name>
    <url-pattern>/UpdateChildInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateAdultInfoServlet</servlet-name>
    <url-pattern>/UpdateAdultInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetContactInfoServlet</servlet-name>
    <url-pattern>/GetContactInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateContactInfoServlet</servlet-name>
    <url-pattern>/UpdateContactInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetAccountInfoServlet</servlet-name>
    <url-pattern>/GetAccountInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetRegistrationsServlet</servlet-name>
    <url-pattern>/GetRegistrationsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertRegistrationServlet</servlet-name>
    <url-pattern>/InsertRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetEnrollmentsServlet</servlet-name>
    <url-pattern>/GetEnrollmentsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertEnrollmentSetServlet</servlet-name>
    <url-pattern>/InsertEnrollmentSetServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ParaServlet</servlet-name>
    <url-pattern>/ParaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetPaymentPlansServlet</servlet-name>
    <url-pattern>/GetPaymentPlansServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertPaymentPlanServlet</servlet-name>
    <url-pattern>/InsertPaymentPlanServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>
            30
        </session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>GetFamilyStatusServlet</welcome-file>
  </welcome-file-list>
</web-app>
